<div id="_header">
  <div class="title"><h3>ML List</h3></div>
  <div class="navigate_prev">
    <a href="<%= root_path %>/">戻る(Prev)</a>
  </div>
</div>

<div id="_body">
  <div id="ml_list">
    ML List<br />
    <ul>
      <% @mllist.each do |ml|
	   mladdr = ml[0]
	   mlname = ml[1] %>
      <li><a href="<%= root_path %>/mlinfo?ml=<%= mladdr %>"><%= mlname %> (<%= mladdr %>)</a></li>    
      <% end %>
    </ul>
  </div>
</div>
